<body>
    <div class="container">
        <h4>Collection</h4>
        <%= @ids %>
        <%= @names %>
        <%= @images %>
        <div class="row" style="margin-top: 10px;">
            <% for i in 0..@ids.length-1 %>
                <div class="col s12 m6">
                    <div class="card medium">
                        <div class="card-image">
                            <!-- <img src="img/htgawm.jpg"> -->
                            <%= image_tag @images[i], :class => "search" %>
                        </div>
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4"><%= @ids[i] %> - <%= @names[i] %></span>
                        </div>
                        <div class="card-action">
                            <%= form_tag('/showdetails_init', method: :post, id: 'show-details') do %>
                                <input name="details_showid" type="hidden" value="<%= @ids[i] %>">
                                <button id="showdetails_submit" class="btn-flat waves-effect waves-light orange-text" type="submit" name="action">Show Details</button>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</body>