<body>
    <div class="container">
        <h4>"<%= @episode_title %>"</h4>
        
        <div class="row" style="margin-top: 10px;">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content black-text">
                        <%= form_tag('/showdetails_init', method: :post, id: 'showdetails') do %>
                            <input name="showdetails_showid" type="hidden" value="<%= @showid %>" /> 
                            <span class="card-title black-text">Details</span>
                            <p><b>Show Name:</b> <%= @show_name %> <a href="" onclick="$(this).closest('form').submit();"><i class="mdi-action-info-outline"></i></a></p>
                            <p><b>Season Number:</b> <%= @season %></p>
                            <p><b>Episode Number:</b> <%= @episode %></p>
                            <p><b>Runtime:</b> <%= @show_runtime %> minutes</p>
                            <p><b>Air Date:</b> <%= @show_airdate %></p>
                        <% end %> 
                    </div>
                    <% if @show_url != "" && @show_url != nil %>
                        <div class="card-action">
                            <a href="<%= @show_url %>" target="_blank">View on TVRage</a>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</body>