<body>
    <div class="container">
        <h4><%= @show_name %></h4>
        <div class="row" style="margin-top: 10px;">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag @show_image, :class => "showdetails" %>
                    </div>
                    <div class="card-action">
                        <a href="#">Remove from Collection</a>
                        <a href="<%= @show_showlink %>" target="_blank">View on TVRage</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title black-text">Details</span>
                        <p><b>Started:</b> <%= @show_started %></p>
                        <p><b>Ended:</b> <%= @show_ended %></p>
                        <p><b>Origin Country:</b> <%= @show_origin_country %></p>
                        <p><b>Status:</b> <%= @show_status %></p>
                        <p><b>Classification:</b> <%= @show_classification %></p>
                        <p><b>Genres:</b> <%= @show_genre %></p>
                        <p><b>Runtime:</b> <%= @show_runtime %> minutes</p>
                        <p><b>Air Time:</b> <%= @show_airtime %></p>
                        <p><b>Air Day:</b> <%= @show_airday %></p>
                        <p><b>Timezone:</b> <%= @show_timezone %></p>
                    </div>
                </div>
            </div>
        </div>
        <h4>Episode List</h4>
        <div class="row" style="margin-top: 10px;">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title black-text">Season 1</span>
                        <ol>
                            <li>"Pilot" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"It's All Her Fault" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Smile, or Go to Jail" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Let's Get to Scooping" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"We're Not Friends" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Freakin' Whack-a-Mole" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"He Deserved to Die" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"He Has a Wife" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Kill Me, Kill Me, Kill Me" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Hello Raskolnikov" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Best Christmas Ever" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"She's a Murderer" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"Mama's Here Now" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"The Night Lila Died" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                            <li>"It's All My Fault" <a href="episodedetails.html"><i class="mdi-action-info-outline"></i></a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>