<body>
    <div class="container">
        <h4><%= @show_name %></h4>
        <div class="row" style="margin-top: 10px;">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <%= image_tag @show_image, :class => "showdetails" %>
                    </div>
                    <div class="card-action">
                        <% if @is_in_collection %>
                            <%= form_tag('/showdetails_remove', method: :post, id: 'show-remove') do %>
                                <input type="hidden" name="showdetails_showid" value="<%= @showid %>" />
                                <input type="hidden" name="showdetails_url" value="<%= @show_showlink %>" />
                                <a href="" onclick="$(this).closest('form').submit();">Remove from Collection</a>
                                <a href="<%= @show_showlink %>" target="_blank">View on TVRage</a>
                            <% end %>
                        <% else %>
                            <%= form_tag('/showdetails_add', method: :post, id: 'show-add') do %>
                                <input type="hidden" name="showdetails_showid" value="<%= @showid %>" />
                                <input type="hidden" name="showdetails_url" value="<%= @show_showlink %>" />
                                <a href="" onclick="$(this).closest('form').submit();">Add to Collection</a>
                                <a href="<%= @show_showlink %>" target="_blank">View on TVRage</a>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content black-text">
                        <span class="card-title black-text">Details</span>
                        <p><b>Started:</b> <%= @show_started %></p>
                        <p><b>Ended:</b> <%= @show_ended %></p>
                        <p><b>Origin Country:</b> <%= @show_origin_country %></p>
                        <p><b>Status:</b> <%= @show_status %></p>
                        <p><b>Classification:</b> <%= @show_classification %></p>
                        <p><b>Genres:</b> <%= @show_genre %></p>
                        <p><b>Runtime:</b> <%= @show_runtime %> minutes</p>
                        <p><b>Air Time:</b> <%= @show_airtime %></p>
                        <p><b>Air Day:</b> <%= @show_airday %></p>
                        <p><b>Timezone:</b> <%= @show_timezone %></p>
                    </div>
                </div>
            </div>
        </div>
        <h4>Episode List</h4>
        <div class="row" style="margin-top: 10px;">
            <% if @season == nil || @season.length == 0 %>
                <div class="col s12 m6">
                    <p>No listed episodes.</p>
                </div>
            <% end %>
            <% j=1 %>
            <% for i in 0..(@season.length-1) %>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content black-text">
                           <span class="card-title black-text">Season <%= j %><% j=j+1 %></span>
                            <ol>
                            <% for k in 0..(@season[i].length-1) %> 
                                <%= form_tag('/episodedetails_init', method: :post, id: 'ep-details') do %>
                                    <input name="showid" type="hidden" value="<%= @showid %>" /> 
                                    <input name="season" type="hidden" value="<%= (i+1) %>" /> 
                                    <input name="episode" type="hidden" value="<%= (k+1) %>" /> 
                                    <li>
                                        <%= @season[i][k] %> <a href="" onclick="$(this).closest('form').submit();"><i class="mdi-action-info-outline"></i></a>
                                    </li>
                                <% end %>
                                <br />
                            <% end %> <!--form tag -->  
                           </ol>
                        </div>
                    </div>
                </div>
            <%end%>
        </div>
       
    </div>
</body>